/* ***********MIXINS************ */
@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

@mixin fSize($fSize: 16px) {
  font-size: $fSize;
}

@mixin linkHover {
  text-decoration: underline;
}
