/* ***********VARIABLES************ */
// fonts:
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

$fontOne: 'Josefin Sans', sans-serif;

// colors:
$white: #fff;
$black: #000;
$ligth-grey: #F2F2F2;
$blue-one: #04D9C4;
$blue-two: #04C4D9;
$blue-three: #0378A6;
$blue-four: #023E73;
$blue-five: #022873;
$blue-six: #010D26;
$blue-seven: #00010D;
